button:hover {
	background-color: lightgrey;
}

.row {
	border: 1px solid blue;
}



#answers button {
	
	line-height: 40px;
}

#answers h3:hover{
	background-color: lightblue;
}


.displayHide{
	display: none;
}